/* css变量
   ========================================================================== */
* {
  --xxs: 5px;
  --xs: 10px;
  --sm: 15px;
  --md: 20px;
  --lg: 30px;
  --xl: 40px;
  --xxl: 50px;
  --text-old: #a4a4a4;
  --text-danger: #ff3f66;
  --text-warning: #ffad33;
  --text-info: #2d8cf0;
  --text-success: #19be6b;
  --border-color: rgba(187, 187, 187, .5);
}

/* 显示
   ========================================================================== */

.hide {
  display: none;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.bolder {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

.cursor-default {
  cursor: default;
}

/* 响应式表格
   ========================================================================== */

@media screen and (max-width: 768px) {
  .tr-mobile {
    border: 1px solid var(--border-color);
    padding: 0 10px;
    border-radius: 4px;
    margin: 15px 0;
  }

  .td-mobile {
    width: 100%;
    position: relative;
    word-break: break-all;
    padding: 20px 0 20px 50%;
  }

  .td-mobile:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-weight: 900;
  }
}

/* 对齐
   ========================================================================== */

.x-center {
  display: flex;
  justify-content: center;
}

.y-center {
  display: flex;
  align-items: center;
}

.y-baseline {
  display: flex;
  align-items: baseline;
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* 位置
   ========================================================================== */

.relative-box {
  position: relative;
  top: 0;
  left: 0;
}

.position-right {
  position: absolute;
  right: 15px;
  top: 15px;
}

/* 颜色
   ========================================================================== */

.text-old {
  color: var(--text-old);
}

.text-danger {
  color: var(--text-danger);
}

.text-warning {
  color: var(--text-warning);
}

.text-info {
  color: var(--text-info);
}

.text-success {
  color: var(--text-success);
}

.bg-gray {
  background-color: rgba(0, 0, 0, .1);
}

/* a标签
   ========================================================================== */

a {
  color: inherit;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

/* 按钮
   ========================================================================== */

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d8dce5;
  color: #5a5e66;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.btn:hover {
  color: #fff;
}

/* 图片
   ========================================================================== */

.img {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.img img {
  max-width: 100%;
}

/* 内边距
   ========================================================================== */

.border {
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.t-border {
  border-top: 1px solid var(--border-color);
}

.b-border {
  border-bottom: 1px solid var(--border-color);
}

.tb-border {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.lr-border {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* 内边距
   ========================================================================== */

.p-0 {
  padding: 0;
}

.p-xxs {
  padding: var(--xxs);
}

.p-xs {
  padding: var(--xs);
}

.p-sm {
  padding: var(--sm);
}

.p-md {
  padding: var(--md);
}

.p-lg {
  padding: var(--lg);
}

.p-xl {
  padding: var(--xl);
}

.p-xxl {
  padding: var(--xxl);
}

.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ptb-xxs {
  padding-top: var(--xxs);
  padding-bottom: var(--xxs);
}

.ptb-xs {
  padding-top: var(--xs);
  padding-bottom: var(--xs);
}

.ptb-sm {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}

.ptb-md {
  padding-top: var(--md);
  padding-bottom: var(--md);
}

.ptb-lg {
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}

.ptb-xl {
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}

.ptb-xxl {
  padding-top: var(--xxl);
  padding-bottom: var(--xxl);
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.plr-xxs {
  padding-left: var(--xxs);
  padding-right: var(--xxs);
}

.plr-xs {
  padding-left: var(--xs);
  padding-right: var(--xs);
}

.plr-sm {
  padding-left: var(--sm);
  padding-right: var(--sm);
}

.plr-md {
  padding-left: var(--md);
  padding-right: var(--md);
}

.plr-lg {
  padding-left: var(--lg);
  padding-right: var(--lg);
}

.plr-xl {
  padding-left: var(--xl);
  padding-right: var(--xl);
}

.plr-xxl {
  padding-left: var(--xxl);
  padding-right: var(--xxl);
}

/* 外边距
   ========================================================================== */

.m-0 {
  margin: 0;
}

.m-xxs {
  margin: var(--xxs);
}

.m-xs {
  margin: var(--xs);
}

.m-sm {
  margin: var(--sm);
}

.m-md {
  margin: var(--md);
}

.m-lg {
  margin: var(--lg);
}

.m-xl {
  margin: var(--xl);
}

.m-xxl {
  margin: var(--xxl);
}

.mtb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mtb-xxs {
  margin-top: var(--xxs);
  margin-bottom: var(--xxs);
}

.mtb-xs {
  margin-top: var(--xs);
  margin-bottom: var(--xs);
}

.mtb-sm {
  margin-top: var(--sm);
  margin-bottom: var(--sm);
}

.mtb-md {
  margin-top: var(--md);
  margin-bottom: var(--md);
}

.mtb-lg {
  margin-top: var(--lg);
  margin-bottom: var(--lg);
}

.mtb-xl {
  margin-top: var(--xl);
  margin-bottom: var(--xl);
}

.mtb-xxl {
  margin-top: var(--xxl);
  margin-bottom: var(--xxl);
}

.mlr-0 {
  margin-left: 0;
  margin-right: 0;
}

.mlr-xxs {
  margin-left: var(--xxs);
  margin-right: var(--xxs);
}

.mlr-xs {
  margin-left: var(--xs);
  margin-right: var(--xs);
}

.mlr-sm {
  margin-left: var(--sm);
  margin-right: var(--sm);
}

.mlr-md {
  margin-left: var(--md);
  margin-right: var(--md);
}

.mlr-lg {
  margin-left: var(--lg);
  margin-right: var(--lg);
}

.mlr-xl {
  margin-left: var(--xl);
  margin-right: var(--xl);
}

.mlr-xxl {
  margin-left: var(--xxl);
  margin-right: var(--xxl);
}

/* 宽度
   ========================================================================== */

.w-0 {
  width: 0;
}

.w-1 {
  width: 10%;
}

.w-2 {
  width: 20%;
}

.w-3 {
  width: 30%;
}

.w-4 {
  width: 40%;
}

.w-5 {
  width: 50%;
}

.w-6 {
  width: 60%;
}

.w-7 {
  width: 70%;
}

.w-8 {
  width: 80%;
}

.w-9 {
  width: 90%;
}

.w-10 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .w-mobile-0 {
    width: 0;
  }

  .w-mobile-1 {
    width: 10%;
  }

  .w-mobile-2 {
    width: 20%;
  }

  .w-mobile-3 {
    width: 30%;
  }

  .w-mobile-4 {
    width: 40%;
  }

  .w-mobile-5 {
    width: 50%;
  }

  .w-mobile-6 {
    width: 60%;
  }

  .w-mobile-7 {
    width: 70%;
  }

  .w-mobile-8 {
    width: 80%;
  }

  .w-mobile-9 {
    width: 90%;
  }

  .w-mobile-10 {
    width: 100%;
  }
}

/* 字体大小
   ========================================================================== */

.size-xxs {
  font-size: 12px;
}

.size-xs {
  font-size: 14px;
}

.size-sm {
  font-size: 16px;
}

.size-md {
  font-size: 20px;
}

.size-lg {
  font-size: 40px;
}

.size-xl {
  font-size: 50px;
}

.size-xxl {
  font-size: 60px;
}

